section {
    padding: 2rem;
    
}

.bg-primary {
    background-image: -moz-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
    background-image: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
    background-image: -ms-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
 
}

.bg-gray {
    
}

