@{
    ViewData["Title"] = "Home Page";
}





<h1></h1>

<div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>

<!-- particles.js container -->
<!-- start banner Area -->
<div id="particles-js">


    <!-- start banner Area -->
    <section class="banner-area w-100 p-3">


        <div class="container-fluid w-100 p-3">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-6 col-md-12 no-padding banner-right">
                    <img class="img-fluid" src="img/header-img.png" alt="">
                </div>
                <div class="col-lg-6 col-md-12 banner-left">
                    <h1 class="text-white">
                        Hi, I’m <br>
                        <span>Ariel Arley Gonzalez</span> <br>
                        Web/Mobile Developer
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                        Let me tell you about me, and show you a little bit about my work!.
                    </p>
                    <a href="#contact" class="text-uppercase header-btn"><span>Let's Talk</span></a>
                </div>
            </div>
        </div>

    </section>

</div>

<!--<section class="bg-primary text-center">
    <div class="container">


        <h2>Design is improvement. Design is improvement.</h2>


    </div>
     /.container
</section>-->
<!-- End banner Area -->
<!-- Start about Area -->

<section class="about-area section-gap" id="about">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">About Myself</h1>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 about-left">
                <p>
                    I am a software developer / Multimedia Engineer and I have participated in multiple projects oriented to Web Development and Mobile applications. In addition, I have been part of projects dedicated to the development of different fields such as artificial intelligence, usability and interactivity.
                </p>
                <p>
                    I have the technical and design expertise to develop innovative products. One of my main objectives is to satisfy the end user by using various approaches like prototyping, testing, surveys and the viability analysis.

                </p>
                <h4 class="pb-40">Programming Language Expertness</h4>
                <div class="skillbar" data-percent="85%">
                    <div class="skill-bar-percent">Swift 85%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 85%;"></div>
                    </div>
                </div>

                <div class="skillbar" data-percent="80%">
                    <div class="skill-bar-percent">C and C++ 80%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 80%;"></div>
                    </div>
                </div>

                <div class="skillbar" data-percent="40%">
                    <div class="skill-bar-percent">JavaScript 80%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 80%;"></div>
                    </div>
                </div>

                <div class="skillbar" data-percent="70%">
                    <div class="skill-bar-percent">python 75%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="skillbar" data-percent="70%">
                    <div class="skill-bar-percent">HTML 90%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 90%;"></div>
                    </div>
                </div>
                <div class="skillbar" data-percent="70%">
                    <div class="skill-bar-percent">CSS 60%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="skillbar" data-percent="70%">
                    <div class="skill-bar-percent">SQL 65%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 65%;"></div>
                    </div>
                </div>
                <div class="skillbar" data-percent="60%">
                    <div class="skill-bar-percent">Flutter-Dart 70%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 60%;"></div>
                    </div>
                </div>
                <div class="skillbar" data-percent="70%">
                    <div class="skill-bar-percent">PHP 70%</div>
                    <div class="skillwrap">
                        <div class="skillbar-bar" style="width: 70%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-right justify-content-end d-flex">
                <div class="myself-wrap">
                    <img class="img-fluid" src="img/about-img.jpg" alt="">
                    <div class="desc">
                        <h4>Ariel Arley Gonzalez</h4>
                        <p class="pb-10"></p>
                        <p><span class="lnr lnr-phone"></span> (323) 540 82 10</p>
                        <p><span class="lnr lnr-envelope"></span> aago810@gmail.com</p>
                        <a class="mt-30 text-uppercase talk-btn" href="#contact">Hire Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- End about Area -->
<!-- Start qualification Area -->
<section class="qualification-area pt-100 pb-80">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-20 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Education and Experience</h1>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-6 qty-left">
                <div class="single-qly">
                    <h3 class="text-uppercase">Bachelor of Multimedia Engineering</h3>
                    <p>January 2011 to August 2016</p>
                    <h4 class="pt-20 pb-20">Programing and E coursework:</h4>
                    <p>
                        Computer science, Algorithm & Data Analyst , Software Modeling and Design, Computer graphics, Mobile Applications. Signal processing, Image processing, Circuits.
                    </p>
                </div>
                <div class="btm-border d-block mx-auto"></div>
                <div class="single-qly">
                    <h3 class="text-uppercase">Associates degree in Information Systems</h3>
                    <p> December 2009 to December 2010</p>
                    <h4 class="pt-20 pb-20"> Coursework: </h4>
                    <p>
                        Operating Systems, windows,linux, and mac configuration, Networks.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 qty-right">
                <div class="single-qly">
                    <h4 class="pb-20">Developer</h4>
                    <p><b>August 2018 to November 2018</b></p>
                    <p><b>Company</b>:  Trucker District, Houston, TX.</p>
                    <img class="img" src="img/tooolstru.png" alt="" width="300" height="80">
                </div>
                <div class="btm-border d-block mx-auto"></div>
                <div class="single-qly">
                    <h4 class="pb-20">Developer and Designer</h4>
                    <p><b>  January 2018 - August 2018</b></p>
                    <p><b>Company</b>:  ChioEmojis, Los Angeles, CA.</p>

                    <img class="img" src="img/toolstocall.png" alt="" width="300" height="80">
                </div>
                <div class="btm-border d-block mx-auto"></div>
                <div class="single-qly">
                    <h4 class="pb-20">Developer and Designer</h4>
                    <p><b> January 2017  - October 2017</b></p>
                    <p><b>Company</b>:   IDEAS ENTERPRISES, Los Angeles, CA.</p>

                    <img class="img" src="img/toolstocall.png" alt="" width="300" height="80">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End qualification Area -->
<!-- Start project Area -->
<section class="project-area section-gap" id="project">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Latest Projects</h1>
                    <p>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 project-left">
                <div class="single-project pb-100">

                    <img class="img-fluid" src="img/tocall.png" alt="">
                    <h4 class="pt-100 pb-30"><a href="www.tocallsupport.com">To Call App</a></h4>
                    <p>
                        This App is designed to help users schedule phone calls and set up reminders. To Call was developed with CoreData, CNContact, UIkit, UINotifications and Xcode as IDE.


                    </p>
                    <a href="www.tocallsupport.com">www.tocallsupport.com</a>

                </div>


                <!--<div class="single-project">
                    <img class="img-fluid" src="img/chio.png" alt="">
                    <h4 class="pt-100 pb-30"><a href="#">Panda Illustration</a></h4>
                    <p>
                        It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological.
                    </p>
                </div>		-->
            </div>


            <div class="col-lg-6 project-right">
                <div class="single-project">
                    <h4 class="pt-30 pb-30"><a href="#">Chio Emojis</a></h4>
                    <p class=" pb-100">
                        This application is for sharing emojis through Imessage for IOS.
                    </p>
                    <img class="img-fluid" src="img/chio.png" alt="">
                </div>
                <!--<div class="single-project">
                    <h4 class="pt-100 pb-30"><a href="#">Panda Illustration</a></h4>
                    <p class=" pb-30">
                        It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological.
                    </p>
                    <img class="img-fluid" src="img/l4.jpg" alt="">
                </div>	-->
            </div>
        </div>
    </div>
</section>
<!-- End project Area -->
<!-- Start feature Area -->
<section class="feature-area pt-100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Some Web work </h1>
                    <p>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature mb-30">
                    <div class="title d-flex flex-row pb-20">

                        <h4><a href="http://www.arcticflyers.net">Arctic flyers</a></h4>
                    </div>
                    <p>
                        Flight Instruction web plataform.



                    </p>

                    <p> <a> HTML, </a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature mb-30">
                    <div class="title d-flex flex-row pb-20">

                        <h4><a href="http://larancheranetwork.com/">La Ranchera Network</a></h4>
                    </div>
                    <p>
                        Radio web Station Los Angeles CA.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature mb-30">
                    <div class="title d-flex flex-row pb-20">
                        <span class="lnr lnr-phone"></span>
                        <h4><a href="#">To call Support</a></h4>
                    </div>
                    <p>
                        Web site to support App Mobile.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature">
                    <div class="title d-flex flex-row pb-20">

                        <h4><a href="http://xclusivebarberlounge.com/">Xclusive barber Lounge</a></h4>
                    </div>
                    <p>
                        Barber from Downey, CA.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature">
                    <div class="title d-flex flex-row pb-20">
                        <span class="lnr lnr-diamond"></span>
                        <h4><a href="http://www.bonnusmas.com">Bonnusmas</a></h4>
                    </div>
                    <p>
                        Web site from a mobile app.
                    </p>
                </div>
            </div>
            <!--<div class="col-lg-4 col-md-6 ">
                <div class="single-feature">
                    <div class="title d-flex flex-row pb-20">
                        <span class="lnr lnr-bubble"></span>
                        <h4><a href="#">Positive Reviews</a></h4>
                    </div>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>	-->
        </div>
    </div>
</section>
<!-- End feature Area -->
<!-- start contact Area -->
<section class="contact-area section-gap" id="contact">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-20 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Contact me</h1>
                    <p>Have a question or want to work together?</p>
                </div>
            </div>
        </div>
        <form class="form-area mt-60" id="myForm" action="mail.php" method="post">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" required="" type="text">

                    <input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

                    <input name="phone" placeholder="Enter your subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'" class="common-input mb-20 form-control" required="" type="text">
                </div>
                <div class="col-lg-6 form-group">
                    <textarea class="common-textarea mt-10 form-control" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                    <button class="primary-btn mt-20">Send Message<span class="lnr lnr-arrow-right"></span></button>
                    <div class="alert-msg">
                    </div>
                </div>
            </div>
        </form>

    </div>
</section>
<!-- end contact Area -->
<!-- start footer Area -->
